<!DOCTYPE html>
<html>

<head>
<title>Count</title>
</head>

<body style="background-color: #FFAEB9">



	<div style="background-color: #BABABA">
		<h1>There are {{ count }} words on the website {{ fulltext }} </h1>
	</div>
<div style="background-color: #FFAEB9">
<h3>The website {{ fulltext }} contains X words in total. The following table shows the frequency of each word on the website:</h3>

<table style="width: 45%" id="word_table" border="7px" bgcolor="white">
	<tr>
		<th>Words</th>
		<th>Occurances</th>
	</tr>
	<tr>
		<td>Cyberpunk</td>
		<td>2077</td>
	</tr>
	<tr>
		<td>Neyo Tokyo</td>
		<td>2051</td>
	</tr>
	<tr>
		<td>Cyber Link</td>
		<td>2030</td>
	</tr>
</table>
</div>
</body>
</html>